:root {
    --background:#fefefe;
    --content-color: rgb(0, 0, 0);
}

html {
    /* border: 1px solid black; */
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
    color: var(--content-color);
}
p, li {
    font-weight: bold;
}

.main {
    /* width: 75%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.projects {
    display: flex;
    flex-direction: row;
}

.project-container {
    height: 50%;
    width: 400px;
    margin: 10px;
    border: 1px solid gray;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: white;
    color: black;
    box-shadow: 10px 5px 5px gray;
    border-radius: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .project-container>* {
    margin-left: 4px;
 }